.app-container {
	background-color: #ebebeb;
	height: 100vh;

  }

  .box-container{
	background-color: #ffffff;
  }
  
  .innerbox-container{
	background-color: #e7eef3;
  }

  .activefilters-container .tag{
	background-color: rgb(184, 204, 246);
	padding: 5px 20px;
	border-radius: 99px;
	display: inline-flex;
	align-items: center;
  }

  .activefilters-container .tag:hover{
	background-color: rgb(177, 199, 247);
  }

  .activefilters-container .tag .close-icon {
	width: 15px;
	height: 15px;
	margin-left: 5px;
	cursor: pointer;
  }
  
  .activefilters-container .tag .close-icon line {
	stroke: currentColor;
  }

  .clear-filters p{
	color:rgb(132, 132, 132);
	cursor: pointer;
  }